@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');

body {
    background-color: #fff;
    color: #010026;
    text-align: center;
    font-family: 'Kreon', serif;
}

header{
    background-color: #010026;
    background-image: url("imagens/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 15px;
}

h2{
  text-align: center;
}

h4{
  display:inline;
}

.logo img{
  width: 20%;
}

main{
  padding: 15px;
  text-align: left;
}

.item{
  border-bottom: 1px solid #010026;
  padding: 15px;
}

.item img{
  float: left;
  margin-right: 10px;
}

.adicionar{
  padding: 20px;
  margin: 5px;
}

footer{
  position: fixed;
  bottom: 5px;
  text-align: center;
  align-items: center;
  padding: 8%;
  width: 100%;
}

.total{
  background-color: #010026;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
}

.finalizar {
  margin: 5px;
  width: 45%;
  border: 2px solid #010026;
  border-radius: 5px;
  color: #010026;
  background-color: #fff;
}