@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background-color:  #6ab7f5;
  min-height: 100vh;
}

img {
    width: 80%;
    padding: 60px;
}

#pokemon_nome {
    text-transform: capitalize;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 15px;
    background-color: #6ab7f5;  /*#6ab7f5; */
    color: #3a444d;
}

.pokemon-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #cd0c3f;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    /* padding: 60px 15px; */
}

.img-container {
    position: relative;
    z-index: 2;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    text-align: center;
    background-image: url("bg.jpg");
    background-size: cover;
    width: 60%;
    margin-top: 60px;
}


.detalhes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:60px 30px 60px;
    width: 100%;    
}

.atributos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}

.form-container {
    display: flex;
    margin: 10px;
    width: 80%;
    padding:0px 30px 60px;
}

.busca-input{
    margin: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    color: #3a444d;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.busca-btn {
    margin: 5px;
    width: 45%;
    border: 2px solid #000;
    border-radius: 5px;
    color: white;
    background-color: #3a444d;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  }

.p-texto span {
    font-size: 16px;
}

.p-texto {
    padding-right: 10px;
    margin: 0;
}

.r-texto {
    color: #aaa;
    padding-right: 10px;
}


